body	{
	font-size: 1.125em;
	color: #707070;
	margin: 0;
}
h1{
	font-size: 3em;
	color: #212614;
	text-align: center;
}

h1 span{
	color: #b7832f;
}
h2{
	font-size: 1.5em;
}

	.container{
	width: 90%;
	margin: 0 auto;
}
img	{
	width:100%;
}


@media(min-width: 800px){
	body	{
		background: yellow;
	}
}
.columns {
	display: flex;
	margin-bottom: 0.5em;
	justify-content: space-between;
	align-items: flex-start;
}
.col-1{
width: 20%;
}
.col-2{
	width: 45%;
}
.col-3{
	width: 70%;
}
.col-bg{
	background: #212614;
	padding: 0.5em;
	color: #fff;
}
@media(min-width: 600px){
	.columns{
		flex-direction: column;
	}
	.col-1,.col-2,.col-3{
		width: 100%;
	}
}
